.overlayCard {
  width: 80%;
  /* height: 80%; */
  max-width: 1440px;
  padding: 2% 1%;
  position: absolute;
  top: 150px;
  bottom: 100px;
  
  background: linear-gradient(135deg, #ffffff1f, #ffffff09);
  backdrop-filter: blur(3px);
  max-width: 1440px;
  border: 2px solid #ffffff1f;
  border-radius: 8px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.374);
  display: flex;
  /* gap: 2%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dNone {
    display: none;
}

.overlayWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

#overlayLeft {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 2%; */
}

#overlayRight {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 2%; */
}

#overlayLeftTop {
  padding: 2% 2%;
  border-bottom: solid 1px rgb(33, 37, 42);
  border-right: solid 1px rgb(33, 37, 42);
  border-top-left-radius: 8px;
  height: 49%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

#overlayLeftTop img {
  max-height: 80%;
  max-width: 80%;
  object-fit: contain;
}

#overlayLeftBottom {
  padding: 2% 2%;
  border-top: solid 1px rgb(33, 37, 42);
  border-right: solid 1px rgb(33, 37, 42);
  height: 49%;
  width: 100%;
}

#overlayLeftBottom h3 {
  text-align: center;
  margin-bottom: 5%;
}

#overlayRightTop {
  padding: 2% 2%;
  border-left: solid 1px rgb(33, 37, 42);
  border-bottom: solid 1px rgb(33, 37, 42);
  height: 49%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#overlayRightBottom {
  padding: 2% 2%;
  border-top: solid 1px rgb(33, 37, 42);
  border-left: solid 1px rgb(33, 37, 42);
  height: 49%;
  width: 100%;
}

#overlayRight h3 {
  text-align: center;
  margin-bottom: 5%;
}

.overlayLineWrapper {
  display: flex;
  justify-content: space-between;
}

#overlayElement {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#overlayElementH3 {
  margin:
}

.overlayBtnDiv {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
}

#prevBtn , #nextBtn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px rgb(33, 37, 42);
  background-color: rgb(103, 168, 185);
  color: rgb(33, 37, 42);
  font-weight: bolder;
  font-size: 24px;
  transition: 0.3s;
}

#prevBtn:hover , #nextBtn:hover {
  cursor: pointer;
  scale: 1.1;
}

#closeBtn {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px rgb(33, 37, 42);
  background-color: rgb(103, 168, 185);
  color: rgb(33, 37, 42);
  font-weight: bolder;
  font-size: 24px;
  transition: 0.3s;
}

#closeBtn:hover {
  cursor: pointer;
  scale: 1.1;
}