.grassBg {
  background-color: rgb(21, 123, 61);
}

.poisonBg {
  background-color: rgb(94, 45, 136);
}

.fireBg {
  background-color: rgb(171, 31, 35);
}

.flyingBg {
  background-color: rgb(74, 103, 125);
}

.waterBg {
  background-color: rgb(21, 82, 226);
}

.bugBg {
  background-color: rgb(27, 76, 38);
}

.normalBg {
  background-color: rgb(117, 81, 91);
}

.groundBg {
  background-color: rgb(128, 75, 0);
}

.electricBg {
  background-color: rgb(225, 228, 45);
}

.fairyBg {
  background-color: rgb(151, 25, 68);
}

.fightingBg {
  background-color: rgb(239, 97, 56);
}

.psychicBg {
  background-color: rgb(248, 28, 145);
}

.rockBg {
  background-color: rgb(72, 24, 11);
}

.darkBg {
  background-color: rgb(90, 89, 121);
}

.dragonBg {
  background-color: rgb(68, 139, 149);
}

.ghostBg {
  background-color: rgb(50, 51, 107);
}

.iceBg {
  background-color: rgb(136, 208, 244);
}

.steelBg {
  background-color: rgb(96, 117, 110);
}
